@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

body {
  -webkit-animation: bg-change-color 4s linear infinite alternate both;
  animation: bg-change-color 4s linear infinite alternate both;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@-webkit-keyframes bg-change-color {
  0% {
    background: #ca04ca;
  }
  100% {
    background: #5504a0;
  }
}
@keyframes bg-change-color {
  0% {
    background: #ca04ca;
  }
  100% {
    background: #5504a0;
  }
}

.section-form {
  width: 400px;
  height: 500px;
  border-radius: 20px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem 3rem;
  box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}

.user-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 4px solid #5504a0;
  background-color: #f5f5f5;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.user-img::before {
  content: "";
  display: block;
  position: absolute;
  right: 100px;
  width: 100px;
  height: 2px;
  background-color: #5504a0;
}

.user-img::after {
  content: "";
  display: block;
  position: absolute;
  left: 100px;
  width: 100px;
  height: 2px;
  background-color: #5504a0;
}

.user-img i {
  font-size: 2.4rem;
  color: #5504a0;
}

.quote {
  display: block;
  font-family: sans-serif;
  color: #5504a0;
  font-family: "Open Sans", sans-serif;
}

.quote h1 {
  margin: 0;
  margin-top: 1rem;
  letter-spacing: 0.1rem;
}

.form {
  width: 100%;
  margin: 1rem 0;
}

.form-group {
  border-bottom: 1px solid #5504a0;
  padding: 1rem 0.7rem 0.3rem 0.2rem;
  transition: 0.3s ease;
  position: relative;
}

.form-group.active-focus {
  transform: scale(1.1);
  animation: border-animate 0.3s forwards;
}

.form-group i {
  margin-right: 0.5rem;
  color: #5504a0;
}

.view {
  top: 18px;
  right: 0;
  cursor: pointer;
  position: absolute;
  z-index: 10;
}

.form-group input {
  box-sizing: border-box;
  border: 0;
  background-color: transparent;
  outline: none;
  color: #5504a0;
}

.form-group input::placeholder {
  color: #5504a0;
  font-weight: bold;
}

.form a {
  float: right;
  font-family: "Open Sans", sans-serif;
  font-size: 0.755rem;
  font-weight: bold;
  margin-top: -1rem;
}

.form a:hover {
  color: #340361;
}

.btn {
  border: 0;
  outline: none;
  padding: 1rem 0;
  border-radius: 20px;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  transition: 0.5s ease;
}

.btn-login {
  width: 100%;
  background: linear-gradient(to right, rgba(85, 4, 160), rgb(202, 4, 202));
  text-align: center;
  font-size: 1.2rem;
  color: #f5f5f5;
  letter-spacing: 0.1rem;
  transition: 0.5s ease;
}

.btn-login:hover {
  animation: bg-hover 1s ease alternate both;
  transform: scale(0.955);
}

@keyframes bg-hover {
  from {
    background: #ca04ca;
  }
  to {
    background: #5504a0;
  }
}

@keyframes border-animate {
  from {
    border-bottom: 1px solid #5504a0;
    border: 1px solid transparent;
    border-radius: 0;
  }

  to {
    border: 1px solid #5504a0;
    border-radius: 10px;
    padding: 1rem 0.7rem 0.7rem 0.5rem;
  }
}

.social-links {
  width: 100%;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.btn-face {
  padding: 1rem;
  background-color: #4c69a2;
  color: #f5f5f5;
}

.btn-google {
  padding: 1rem;
  background-color: #ca4536;
  color: #f5f5f5;
}

.btn-face i,
.btn-google i {
  margin-right: 2rem;
  font-size: 1.4rem;
}

.btn-face:hover,
.btn-google:hover {
  transform: scale(0.955);
  filter: brightness(90%);
}

.invalid-input {
  border-color: #ca4536;
}

.valid-input {
  border-color: #47ca36;
}

.error-msg {
  margin-top: -0.5rem;
  font-family: "Open Sans", sans-serif;
  font-size: 0.725rem;
  color: red;
  font-weight: bold;
  visibility: hidden;
  margin-bottom: 1rem;
}

.error-msg.visible {
  visibility: visible;
}
